html{
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slide-right{
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slide-down {
    0% {
        transform : translateY(-100px);
   }
   100%{
        transform : translateY(0);
    }
}

@keyframes scale {
    from
        {transform: scale(1);}
    to
        {transform: scale(1.2);}    
}

main{
    animation: fade 1.5s ease forwards ;
}
.overlay{
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}
#menu-toggle:checked ~ .overlay{
    display: block;
}
.portada-presentacion{
    animation: slide-down 2s ease-in-out;
}
.portada_img{
    animation: slide-right 2s ease-in-out;
}
.portada-button-1:hover{
    animation: scale 1s ease-in forwards;
}
.portada-button-2:hover{
    animation: scale 1s ease-in forwards;
}
.adoptar-conteiner a:hover{
    background: #a98467;
    transition: all 0.5s ease-in;
}

.donaciones-pago-montos a:hover{
    background: #a98467;
    transition: all 0.5s ease-in;
}
.formulario-enviar:hover {
    background: #a98467;
    transition: all 0.5s ease-in;
}